

h1{
	text-align: center;
}

header{
height: 100px;
width: 100%;	
display: flex;
/*border : 1px solid black;*/
}
#leftmenu{
	/*border : 1px solid black;*/ 
	float: left;
	width: 10%;
	text-align: center;
	margin-top: 0,auto;
	
}

#center{
	/*border : 1px solid black;*/ 
	float: left;
	width: 50%;
	display : flex;
	text-align: center;
	list-style-type: none;	
}

#center li{
	/*border : 1px solid black;*/ 
    text-align: center;
   margin-left: 20px;
   margin-right: 5px;
   
   }
.wrap{
  float: left;
  width: 20%;
  margin-left: 3px;
}
.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 80%;
  border-radius: 5px 0 0 5px;
}

.searchButton {
  width: 50px;
  
  background: white;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  /*font-size: 10px;*/
  }

#rightmenu{
	/*border : 1px solid black;*/ 
	float: left;
	width: 10%;
	text-align: center;
	margin:  0 1em;
}



main{
padding: 10px;
height: 500px;
/*width: 100%;*/
}

footer{
padding: 10px;
height: 90px;
/*width: 100%;	*/
}

#fleft{
	float: left;
	width:30%;
	text-align: center;
	list-style-type: none;
	/*border : 1px solid black;*/
}

#fcenter{
	float: left;
	width: 40%;
	text-align: center;
	list-style-type: none;
	/*border : 1px solid black;*/
}

.fa {
  /* padding: 70px; */
  font-size: 30px; 
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

#fright{
	float: left;
	width:30%;
	text-align: center;
	list-style-type: none;
	/*border : 1px solid black;*/
}